
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #d9832e;
    --bg-color-accent: #eaedf2;
    --text-color-dark: #090a0c;
    --text-color-light: #555a64;
    --white: #ffffff;
    --padding-16: 16px;
    --padding-border: 100px;
    --padding-32: 32px;
    --padding-8: 8px;
    --border-radius: 2px;
}

*, html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color-light);
    box-sizing: content-box;
}

/* Helpers */
.margin-right-8 {
    margin-right: 8px;
}

.wrapper{
    padding: 40px var(--padding-border);
}

.display-inline-block {
    display: inline-block;
}

/* Common */
.title {
    padding: var(--padding-16) 0;
    font-size: 42px;
    color: var(--text-color-dark);
}

.section-title {
    font-size: 32px;
    color: var(--text-color-dark);
    text-align: center;
    padding: var(--padding-8) 0;
}

.section-title-underline {
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
    margin: auto;
    margin-bottom: 50px;
}

.greeting {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark);
}

.subtitle {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color-dark);
}
.primary-button {
    padding: var(--padding-8) var(--padding-16);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 500;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in;

}
.primary-button-outline {
    padding: var(--padding-8) var(--padding-16);
    border: 2px solid var(--primary-color);
    background-color: var(--white);
    color: var(--text-color-dark);
    font-weight: 500;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.primary-button-outline:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.primary-button:hover {
    background-color: var(--white);
    color: var(--text-color-dark);
}

.section-container {
    display: table;
    height: 100%;
    width: 100%;
}

.section-container .content {
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    padding-right: 40px;
  }


/* Navigation */
#navs-container {
    display: inline-block;
}

#navs-container a {
    text-decoration: none;
    margin-right: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-color-dark);
}

#navs-container a:hover, #navs-container a:active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: all 0.2s ease-in;
    border-width: 100%;
}

#navs .action-button{
    float: right;
    margin-top: -8px;
}

/* Hero Section */
#hero {
    height: 80vh;
}

.action-buttons {
    margin-top: 32px;
}

#hero .content {
    display: inline-block;
    width: 44%;
    height: 100%;
    padding-right: 50px;
    position: relative;
    transform: translateY(-35%);
}

.hero-image {
    display: inline-block;
    width: 49%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

/* About Me */

.about-me-card {
    position: relative;
}
#about-me, #projects {
    background-color: var(--bg-color-accent);
}

.about-me-cards {
    display: inline-block;
    margin-left: auto;
}

.about-me-card-row {
    margin-bottom: 16px;
    display: table;
}

.about-me-card .inline {
    width: 100%;
}

.about-me-card h6 {
    font-size: 16px;
    position: absolute;
    top: 24px;
    left: 60px;
    font-weight: 600;
}

.about-me-card img {
    width: 40px;
    height: 40px;
}

.about-me-cards .about-me-card {
    width: 250px;
    margin-right: 16px;
    display: inline-block;
    padding: var(--padding-16);
    border: 3px solid var(--primary-color);
}

#about-me .content, #skills .content {
    width: 50%;
}

.skills-images img, #projects img {
    width: 600px;
    height: 100%;
}

#skills .description {
    margin-bottom: 10px;
}

.lifted-card {
   top: -20px;
   background-color: var(--primary-color);
}

.lifted-card h6, .lifted-card p {
    color: rgb(240, 240, 240) !important;
}

/* Recent Projects */
.project {
    display: table;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.project .content {
    display: inline-block;
    width: 60%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    padding-right: var(--padding-32);

}

.project .project-image {
    display: inline-block;
}

.reverse-layout .content {
    padding-left: var(--padding-32);
}

.project .description {
    margin-bottom: 20px;
}


/* Experiences & Education Section*/

.experience .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--bg-color-accent);
    overflow: hidden;
}

#education-section .logo {
    width: 100px;
    height: 100px;
}

.experience .logo img {
    width: 100%;
}

.experience {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 22px;
}

.experience-left-content {
    display: table;
    vertical-align: middle;
}

.experience-details {
    padding: 0 var(--padding-16);
    display: table-cell;
    vertical-align: middle;
}

.location {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.experience-chips {
    margin-top: 16px;
}

.chip{
    border: 1px solid var(--bg-color-accent);
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
    margin-right: 5px;
}

.company-title {
    font-size: 22px;
}

.timeline {
    font-size: 14px;
    font-style: italic;
}

.education-details {
    display: table-cell;
    vertical-align: middle;
}


.education-wrapper {
    display: table;
}

.education-image {
    position: relative;
    width: 55%;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.education-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/education.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform-origin: 100% 0;
    transform: skew(160deg);
    z-index: -1;
  }


  /* Blogs Section */

  .blog-card {
    width: 23%;
    height: 400px;
  }
  .blog-card:not(:last-child) {
    margin-right: 30px;
  }

  .blog-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .blog-image img{
    width: 100%;
  }

  .blog-content {
    width: 89.5%;
    margin: auto;
    padding: var(--padding-16);
    position: relative;
    top: -30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: var(--white);
}

.blog-content h6 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--text-color-dark);
}
.blog-content .description {
    font-size: 14px;
    margin-bottom: 10px;

}

.blog-content a, .project a {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);

}

/* Contact Section */

#contacts {
    background-color: var(--bg-color-accent);
}

.published-date {
    font-size: 12px;
    padding: 8px;
    background-color: var(--primary-color);
    display: inline;
    color: var(--white);
    position: absolute;
    top: -32px;
    left: 0;
}

.contact-form {
    background-color: var(--white);
    padding: var(--padding-32);
}

.contact-row {
    margin-top: 18px;
}

.contact-row input {
    width: 47%;
    height: 35px;
    padding: 0 var(--padding-8);
    margin-right: 5px;
}

.contact-form textarea {
    width: 97%;
    margin-top: 18px;
    padding: var(--padding-8);
}

.contact-form .button {
    margin-top: 16px;
}


/* Footer */

#footer {
    background-color: var(--text-color-light);
}

#footer a {
    text-decoration: none;
    color: var(--white);
}

#footer p {
    color: var(--white);
}

#footer .socials, #footer .terms-policy, #footer .copyrights {
    text-align: center;
    color: var(--white);
}

#footer img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#footer .terms-policy, #footer .terms-policy a {
    color: #c6c6c6;
}

#footer .terms-policy a:hover {
    color: #ffffff;
}











